{% load indian_numbers_tags %}
{% load mathfilters %}
{% load keyvalue %}

<div class="d-flex flex-row justify-content-around my-4">
	<!-- <div class="crd flex-fill"> -->
	<div class="flex-fill crd-clmn py-3 child-card"> <!-- border border-danger -->
		<div class="mt-2 mb-2 text-danger">Confirmed</div>
			<h2 class="card-title text-danger"><span class="Count">{{ state_list.Total_Testing.total.confirmed|default:0 }}</span></h2>
			<h5 class="card-title text-danger">+<span class="Count">{{ state_list.Total_Testing.delta.confirmed|default:0 }}</span></h5>
	</div>

	<div class="flex-fill crd-clmn py-3 child-card"> <!-- border border-primary -->
		<div class="mt-2 mb-2 text-primary">Active</div>
			<!-- <i class="heart fa fa-heart"></i> -->
			<h2 class="card-title text-primary"><span class="Count">{{ state_list.Total_Testing.total|get_active }}</span></h2>
			<h5 class="card-title text-primary">+<span class="Count">{{ state_list.Total_Testing.delta|get_active }}</span></h5>
      <i class="heart fa fa-heart"></i>
	</div>

	<div class="flex-fill crd-clmn py-3 child-card"> <!-- border border-success -->
		<div class="mt-2 mb-2 text-success">Recovered</div>
			<h2 class="card-title text-success"><span class="Count">{{ state_list.Total_Testing.total.recovered|default:0 }}</span></h2>
			<h5 class="card-title text-success">+<span class="Count">{{ state_list.Total_Testing.delta.recovered|default:0 }}</span></h5>
	</div>

	<div class="flex-fill crd-clmn py-3 child-card"> <!-- border border-light  -->
		<div class="mt-2 mb-2 text-black-50">Deceased</div>
			<h2 class="card-title text-black-50"><span class="Count">{{ state_list.Total_Testing.total.deceased|default:0 }}</span></h2>
			<h5 class="card-title text-black-50">+<span class="Count">{{ state_list.Total_Testing.delta.deceased|default:0 }}</span></h5>
	</div>
	<!-- </div> -->
</div>