{% load indian_numbers_tags %}
{% load mathfilters %}
<style type="text/css">
.crd-clmn{
    border-radius: 75px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 18px 36px;  /*14px 80px  first two value */
  cursor: pointer;
}

.crd-clmn:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.crd
{
	align-self: center;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.crd-clmn
{
	/*border: 1px solid;*/
	/*border-radius: 50px;*/ /* 20px */
	margin: 0.30rem;
	padding: 0.30rem;
	text-align: center;
	/*width: inherit;
	height: inherit;*/
}
h2
{
	font-weight: 400;
}
h5
{
	font-weight: 600;
}


@keyframes heartbeat
{
  0%
  {
    transform: scale( .30 );
  }
  20%
  {
    transform: scale( .40 );
    opacity: 0.4;
  }
  40%
  {
    transform: scale( .50 );
  }
  60%
  {
    transform: scale( .60 );
    opacity: 0.6;
  }
  80%
  {
    transform: scale( 1 );
  }
  100%
  {
    transform: scale( 0 );
    color: #ef9a9a;
    opacity: 1;
  }
}

.heart
{
  font-size: 20px !important;
  color: black;
  animation: heartbeat 2s infinite;
}



</style>


<div class="d-flex flex-row justify-content-around my-4">
	<!-- <div class="crd flex-fill"> -->
	<div class="flex-fill crd-clmn py-3 child-card"> <!-- border border-danger -->
		<div class="mt-2 mb-2 text-danger">Confirmed</div>
			<h2 class="card-title text-danger"><span class="Count">{{ state_list.Total_Testing.total.confirmed|default:0 }}</span></h2>
			<h5 class="card-title text-danger">+<span class="Count">{{ state_list.Total_Testing.delta.confirmed|default:0 }}</span></h5>
	</div>

	<div class="flex-fill crd-clmn py-3 child-card"> <!-- border border-primary -->
		<div class="mt-2 mb-2 text-primary">Active</div>
			<!-- <i class="heart fa fa-heart"></i> -->
			<h2 class="card-title text-primary"><span class="Count">{{ state_list.Total_Testing.total.confirmed|sub:state_list.Total_Testing.total.recovered|sub:state_list.Total_Testing.total.deceased }}</span></h2>
			<h5 class="card-title text-primary">+<span class="Count">{{ state_list.Total_Testing.delta.active|default:0 }}</span></h5>
      <i class="heart fa fa-heart"></i>
	</div>

	<div class="flex-fill crd-clmn py-3 child-card"> <!-- border border-success -->
		<div class="mt-2 mb-2 text-success">Recovered</div>
			<h2 class="card-title text-success"><span class="Count">{{ state_list.Total_Testing.total.recovered|default:0 }}</span></h2>
			<h5 class="card-title text-success">+<span class="Count">{{ state_list.Total_Testing.delta.recovered|default:0 }}</span></h5>
	</div>

	<div class="flex-fill crd-clmn py-3 child-card"> <!-- border border-light  -->
		<div class="mt-2 mb-2 text-black-50">Deceased</div>
			<h2 class="card-title text-black-50"><span class="Count">{{ state_list.Total_Testing.total.deceased|default:0 }}</span></h2>
			<h5 class="card-title text-black-50">+<span class="Count">{{ state_list.Total_Testing.delta.deceased|default:0 }}</span></h5>
	</div>
	<!-- </div> -->
</div>