<h4>COVID - Map for Confirmed Case</h4>
<div id="visualization"> </div>
<hr />
<h4>COVID - Map for Recovered Case</h4>
<div id="visualization-1"> </div>
<hr />
<h4>COVID-19 Government Approved Test Centers </h4>

<!-- <iframe src="https://www.google.co.in/maps/d/embed?mid=1vC8f_Ui2dPdCIMEIi8ajNgVFdDO9RaVK" width="640" height="480"></iframe> -->

<!-- <div class="embed-responsive embed-responsive-4by3">
  <iframe src="https://www.google.co.in/maps/d/u/2/embed?mid=1tiS6MqaCuMXFyYNTWJGFw7Y_QSjIFAGg"></iframe>
</div> -->

<!-- Google Chart JS -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

	// Google Geo Chart Settings
  var myMapsApiKey = 'AIzaSyAQL_kzwdu5uBEzeOIymbwLKLy6TQLsLas';
	google.load('visualization', '1',
		{'packages': ['geochart'],
		"mapsApiKey": myMapsApiKey});
	google.setOnLoadCallback(drawVisualization);

var dataArray = [['State','Confirmed', 'Deceased']];
        
    {% for state, data in state_list.items %}
      {% if not "Total_Testing" == state %}
      dataArray.push(["{{state}}",
        {{ data.total.confirmed }},
        {{ data.total.deceased }}
        ]);
      {% endif %}
      {% if "Jammu & Kashmir" == state %}
        dataArray.push(["Jammu and Kashmir",
        {{ data.total.confirmed }},
        {{ data.total.deceased }}]);  
      {% endif %}
      {% if "Andaman & Nicobar" == state %}
        dataArray.push(["Andaman and Nicobar Islands",
        {{ data.total.confirmed }},
        {{ data.total.deceased }}]);
      {% endif %}
    {% endfor %}
    
function drawVisualization() {
  var data = google.visualization.arrayToDataTable(dataArray);
  
  
  var opts = {
    region: 'IN',
    domain: "IN",
    displayMode: 'regions',
    resolution: 'provinces',
    forceIFrame: true,
    legend: {textStyle: {color: 'red', fontSize: 16}},
    tooltip: {textStyle: {color: 'grey', fontSize: 18}, showColorCode: true},
    colorAxis: {colors: ["white", '#e31b23']},
    // width: 640, 
    // height: 480,
    // backgroundColor: "'#81d4fa'",
    // datalessRegionColor: "grey",
    // defaultColor: '#f5f5f5',

  };
  var geochart = new google.visualization.GeoChart(
      document.getElementById('visualization'));
  geochart.draw(data, opts);
};

</script>





<script type="text/javascript">

  // Google Geo Chart Settings
  var myMapsApiKey = 'AIzaSyAQL_kzwdu5uBEzeOIymbwLKLy6TQLsLas';
  google.load('visualization', '1',
    {'packages': ['geochart'],
    "mapsApiKey": myMapsApiKey});
  google.setOnLoadCallback(drawVisualization);

var dataArray_second = [['State', 'Recovered']];
    {% for state, data in state_list.items %}
      {% if not "Total_Testing" == state %}
      dataArray_second.push(["{{state}}",
        // {{ data.total.active }},
        {{ data.total.recovered }}
        ]);
      {% endif %}
      {% if "Jammu & Kashmir" == state %}
        dataArray_second.push(["Jammu and Kashmir",
        // {{ data.total.active }},
        {{ data.total.recovered }}]);  
      {% endif %}
      {% if "Andaman & Nicobar" == state %}
        dataArray_second.push(["Andaman and Nicobar Islands",
        // {{ data.total.active }},
        {{ data.total.recovered }}]);
      {% endif %}
    {% endfor %}
    
function drawVisualization() {
  var data_second = google.visualization.arrayToDataTable(dataArray_second);
  
  
  var opts_second = {
    region: 'IN',
    domain: "IN",
    displayMode: 'regions',
    resolution: 'provinces',
    forceIFrame: true,
    legend: {textStyle: {color: 'green', fontSize: 16}},
    tooltip: {textStyle: {color: 'grey', fontSize: 18}, showColorCode: true},
    colorAxis: {colors: ["white", 'green']},
    // width: 640, 
    // height: 480,
    // backgroundColor: "'#81d4fa'",
    // datalessRegionColor: "grey",
    // defaultColor: '#f5f5f5',

  };
  var geochart_second = new google.visualization.GeoChart(
      document.getElementById('visualization-1'));
  geochart_second.draw(data_second, opts_second);
};

</script>