{% extends "base.html" %}



{% block content %}
	
	{% include "home/cards.html" %}

	<table id="example" class="table table-sm table-hover table-striped" style="width:100%">
			<thead>
				<tr>
					<th class="th-header-state">State Name</th>
					<th class="th-header">Confirmed</th>
					<th class="th-header">Active</th>
					<th class="th-header">Recovered</th>
					<th class="th-header">Deceased</th>
					<th class="th-header tested-col">Tested</th>
				</tr>
			</thead>



			<tbody>
				{% for state in states %}
				{% if state.State != "India" %}
					<tr>
						<th scope="row">
							<a href="/{{ state.State_code }}/">{{ state.State }}</a>
						</th>
						
						<td data-order="{{ state.Confirmed|default:0 }}">
							{% if state.Delta_Confirmed %}
							<strong>
								<i class="fas fa-arrow-up text-danger"></i>
								<span class="Count text-danger">{{ state.Delta_Confirmed }}</span>
							</strong>
							<br />
							{% endif %}
							<span class="Count">{{ state.Confirmed|default:0 }}</span>
						</td>
						<td data-order="{{ state.Active }}">
							<span class="Count">{{ state.Active }}</span>
						</td>
						<td data-order="{{ state.Recovered|default:0 }}">
							{% if state.Delta_Recovered %}
							<strong>
								<i class="fas fa-arrow-up text-success"></i>
								<span class="Count text-success">{{ state.Delta_Recovered|default:0 }}</span>
							</strong>
							<br />
							{% endif %}
							<span class="Count">{{ state.Recovered|default:0 }}</span>
						</td>
						<td data-order="{{ state.Deaths|default:0 }}">
							{% if state.Delta_Deaths %}
							<strong>
								<i class="fas fa-arrow-up text-black-50"></i>
								<span class="Count text-black-50">{{ state.Delta_Deaths|default:0 }}</span>
							</strong>
							<br />
							{% endif %}
							<span class="Count">{{ state.Deaths|default:0 }}</span>
						</td>
						<td data-order="{{ data.total.tested|default:0 }}" class="tested-col">{{ data.total.tested|default:0 }}</td>
					</tr>
					{% endif %}
				{% endfor %}
			</tbody>



			<tr>
				<th><strong>Total</strong></th>
				<td>
					<i class="fas fa-arrow-up text-danger"></i>
					<span class="Count text-danger">
						{{ state_list.Total_Testing.delta.confirmed }}</span><br />
					<strong><span class="Count">{{ state_list.Total_Testing.total.confirmed }}</span></strong>
				</td>
				<td>
					<strong><span class="Count">{{ state_list.Total_Testing.total.confirmed }}</span></strong>
				</td>
				<td>
					<i class="fas fa-arrow-up text-success"></i>
					<span class="Count text-success">
						{{ state_list.Total_Testing.delta.recovered }}</span><br />
					<strong><span class="Count">{{ state_list.Total_Testing.total.recovered }}</span></strong>
				</td>
				<td>
					<i class="fas fa-arrow-up text-dark"></i>
					<span class="Count text-dark">
						{{ state_list.Total_Testing.delta.deceased }}</span><br />
					<strong><span class="Count">{{ state_list.Total_Testing.total.deceased }}</span></strong>
				</td>
				<td class="tested-col">
					<strong><span class="text-warning">{{ state_list.Total_Testing.total.tested|default:0 }}</span></strong>
				</td>
			</tr>
	</table>
{% endblock content %}



{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
		    table = $('#example').DataTable({
		    	"paging":   false,
		    	"info":     false,
		    	"order": [[ 1, "desc" ]],
		    	"scrollX": false,
		    	"dom": 'lrtip',
		    });
		    $('#mySearchText').keyup(function(){
			      table.search($(this).val()).draw() ;
			});
		} );
	</script>

	<script type="text/javascript">
		$('.Count').each(function () {
		    $(this).prop('Counter',0).animate({
		        Counter: $(this).text()
		    }, {
		        duration: 3000,
		        easing: 'swing',
		        step: function (now) {
		            $(this).text(Math.ceil(now).toLocaleString('en-IN'));
		        }
		    });
		});
	</script>
{% endblock script %}