{% include "home/chart.html" %}

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script> -->
<!-- <canvas id="deltaChart" width="400" height="400"></canvas>
<canvas id="totalChart" width="400" height="400"></canvas> -->
<!-- <h4>COVID - Map for Confirmed Case</h4>
<div id="visualization"> </div>
<hr />
<h4>COVID - Map for Recovered Case</h4>
<div id="visualization-1"> </div> -->
<!-- <hr /> -->

<!-- Google Chart JS -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

	// Google Geo Chart Settings
  var myMapsApiKey = 'AIzaSyAQL_kzwdu5uBEzeOIymbwLKLy6TQLsLas';
	google.load('visualization', '1',
		{'packages': ['geochart'],
		"mapsApiKey": myMapsApiKey});
	google.setOnLoadCallback(drawVisualization);

var dataArray = [['State','Confirmed', 'Deceased']];
        
    {% for state, data in state_list.items %}
      {% if not "Total_Testing" == state %}
      dataArray.push(["{{state}}",
        {{ data.total.confirmed }},
        {{ data.total.deceased }}
        ]);
      {% endif %}
      {% if "Jammu & Kashmir" == state %}
        dataArray.push(["Jammu and Kashmir",
        {{ data.total.confirmed }},
        {{ data.total.deceased }}]);  
      {% endif %}
      {% if "Andaman & Nicobar" == state %}
        dataArray.push(["Andaman and Nicobar Islands",
        {{ data.total.confirmed }},
        {{ data.total.deceased }}]);
      {% endif %}
    {% endfor %}
    
function drawVisualization() {
  var data = google.visualization.arrayToDataTable(dataArray);
  
  
  var opts = {
    region: 'IN',
    domain: "IN",
    displayMode: 'regions',
    resolution: 'provinces',
    forceIFrame: true,
    legend: {textStyle: {color: 'red', fontSize: 16}},
    tooltip: {textStyle: {color: 'grey', fontSize: 18}, showColorCode: true},
    colorAxis: {colors: ["white", '#e31b23']},
    // width: 640, 
    // height: 480,
    // backgroundColor: "'#81d4fa'",
    // datalessRegionColor: "grey",
    // defaultColor: '#f5f5f5',

  };
  var geochart = new google.visualization.GeoChart(
      document.getElementById('visualization'));
  geochart.draw(data, opts);
};

</script>





<script type="text/javascript">

  // Google Geo Chart Settings
  var myMapsApiKey = 'AIzaSyAQL_kzwdu5uBEzeOIymbwLKLy6TQLsLas';
  google.load('visualization', '1',
    {'packages': ['geochart'],
    "mapsApiKey": myMapsApiKey});
  google.setOnLoadCallback(drawVisualization);

var dataArray_second = [['State', 'Recovered']];
    {% for state, data in state_list.items %}
      {% if not "Total_Testing" == state %}
      dataArray_second.push(["{{state}}",
        // {{ data.total.active }},
        {{ data.total.recovered }}
        ]);
      {% endif %}
      {% if "Jammu & Kashmir" == state %}
        dataArray_second.push(["Jammu and Kashmir",
        // {{ data.total.active }},
        {{ data.total.recovered }}]);  
      {% endif %}
      {% if "Andaman & Nicobar" == state %}
        dataArray_second.push(["Andaman and Nicobar Islands",
        // {{ data.total.active }},
        {{ data.total.recovered }}]);
      {% endif %}
    {% endfor %}
    
function drawVisualization() {
  var data_second = google.visualization.arrayToDataTable(dataArray_second);
  
  
  var opts_second = {
    region: 'IN',
    domain: "IN",
    displayMode: 'regions',
    resolution: 'provinces',
    forceIFrame: true,
    legend: {textStyle: {color: 'green', fontSize: 16}},
    tooltip: {textStyle: {color: 'grey', fontSize: 18}, showColorCode: true},
    colorAxis: {colors: ["white", 'green']},
    // width: 640, 
    // height: 480,
    // backgroundColor: "'#81d4fa'",
    // datalessRegionColor: "grey",
    // defaultColor: '#f5f5f5',

  };
  var geochart_second = new google.visualization.GeoChart(
      document.getElementById('visualization-1'));
  geochart_second.draw(data_second, opts_second);
};

</script>














<script type="text/javascript">

    var delta = document.getElementById("deltaChart").getContext('2d');
    var total = document.getElementById("totalChart").getContext('2d');

    var deltabarChartData = {
      datasets: [{
        label: "confirmed",
        hoverBackgroundColor: "#ef9a9a",
        borderColor: "red",
        borderWidth: 1,
        data: [
          {{ confirmed }}
        ]
      }, 
      {
        label: 'active',
        borderColor: "blue",
        hoverBackgroundColor: "#bbdefb",
        borderWidth: 1,
        data: [
          {{ active }}
        ]
      },
      {
        label: 'recovered',
        borderColor: "green",
        hoverBackgroundColor: "#81c784",
        borderWidth: 1,
        data: [
          {{ recovered }}
        ]
      },
      {
        label: 'deceased',
        borderColor: "grey",
        hoverBackgroundColor: "#e0e0e0",
        borderWidth: 1,
        data: [
          {{ deceased }}
        ]
      }, 
      {
        label: 'others',
        borderColor: "yellow",
        hoverBackgroundColor: "#fff176",
        borderWidth: 1,
        data: [
          {{ other }}
        ]
      },
      ]}


    var myBarChart = new Chart(delta, {
        type: 'bar',
        data: deltabarChartData,
        options: {
            responsive: true,
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Delta COVID Cases'
            }
          }
    }); 


    var totalbarChartData = {
      datasets: [{
        label: "confirmed",
        hoverBackgroundColor: "#ef9a9a",
        borderColor: "red",
        borderWidth: 1,
        data: [
          {{ state_list.Total_Testing.total.confirmed|default:0 }}
        ]
      }, 
      {
        label: 'active',
        borderColor: "blue",
        hoverBackgroundColor: "#bbdefb",
        borderWidth: 1,
        data: [
          {{ state_list.Total_Testing.total.confirmed|default:0 }}
        ]
      },
      {
        label: 'recovered',
        borderColor: "green",
        hoverBackgroundColor: "#81c784",
        borderWidth: 1,
        data: [
          {{ state_list.Total_Testing.total.recovered|default:0 }}
        ]
      },
      // {
      //   label: 'deceased',
      //   borderColor: "grey",
      //   hoverBackgroundColor: "#e0e0e0",
      //   borderWidth: 1,
      //   data: [
      //     {{ state_list.Total_Testing.total.deceased|default:0 }}
      //   ]
      // }, 
      // {
      //  label: 'others',
      //  borderColor: "yellow",
      //  hoverBackgroundColor: "#fff176",
      //  borderWidth: 1,
      //  data: [
      //    {{ state_list.Total_Testing.total.others|default:0 }}
      //  ]
      // },
      ]}


    var myBarChart = new Chart(total, {
        type: 'bar',
        data: totalbarChartData,
        options: {
            responsive: true,
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Total COVID Cases - Graph Representation'
            },
            scales: {
              xAxes: [{
                scaleLabel: {
                  display: true,
                  labelString: 'status',
                  fontColor: "#4255f5",
                  fontFamily: "",
                  fontSize: 30,
                  fontStyle: "bold",
                  padding: 0,
                  lineHeight: 0.5,
                }
              }],
            yAxes: [{
            scaleLabel: {
            display: true,
            labelString: 'cases',
            fontColor: "#4287f5",
            fontFamily: "",
            fontSize: 30,
            fontStyle: "bold",
            padding: 0,
            lineHeight: 0.5,
            }
            }]
            },
          },
    }); 

  </script>