{% extends "base.html" %}
{% load static %}
{% load mathfilters %}
{% load indian_numbers_tags %}

{% block content %}
<style type="text/css">
table tbody tr th a
{
	text-decoration: underline;
}
td
{
	padding-right: 30px !important;
	vertical-align: bottom !important;
}
th
{
	vertical-align: middle !important;
	/*text-align: center !important;*/
}
td:hover
{
  background-size:  100% 100%;
  transform:scale(1.4545,1.34);
  /*transform:scale(1.05,1.05);*/
  transform-origin: center;
}
</style>
<div class="row justify-content-center">
	<div class="col-10 col-sm-10 col-md-8">
		{% include "home/cards.html" %}
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-7">
				<div class="table-responsive">
					<table id="example" class="table table-sm table-hover table-striped" style="width:100%"><!-- table-sm table-striped table-borderless table-hover -->
					        <thead class=""><!-- thead-dark -->
					            <tr>
					                <th scope="col">State Name</th>
					                <th scope="col">Confirmed</th>
					                <th scope="col">Active</th>
					                <th scope="col">Recovered</th>
					                <th scope="col">Deceased</th>
					                <th scope="col">Tested</th>
					                <th scope="col">Population</th>
					            </tr>
					        </thead>
					        <tbody>
					        	{% for state, data in state_list.items %}
					        	{% if not "Total_Testing" == state %}
						        	<tr>
						        		<th scope="row">
						        			<a href="/{{ data.code }}/">{{ state }}</a>
						        		</th>
						        		
						        		<td align="right" data-order="{{ data.total.confirmed|default:0 }}">
						        			<strong><i class="fas fa-arrow-up text-danger"></i><span class="Count text-danger">{{ data.delta.confirmed }}</span></strong>
						        			<br />
						        			<span class="Count">{{ data.total.confirmed|default:0 }}</span>
						        		</td>
						        		<td align="right">
						        			<!-- <strong><span class="Count text-primary">{{ data.total.confirmed|sub:data.total.recovered }}</span></strong> -->
						        			<!-- <br /> -->
						        			<span class="Count">{{ data.total.confirmed|sub:data.total.recovered }}</span>
						        		</td>
						        		<td align="right">
						        			<strong><i class="fas fa-arrow-up text-success"></i><span class="Count text-success">{{ data.delta.recovered|default:0 }}</span></strong>
						        			<br />
						        			<span class="Count">{{ data.total.recovered|default:0 }}</span>
						        		</td>
						        		<td align="right">
						        			<strong><i class="fas fa-arrow-up text-black-50"></i><span class="Count text-black-50">{{ data.delta.deceased|default:0 }}</span></strong>
						        			<br />
						        			<span class="Count">{{ data.total.deceased|default:0 }}</span>
						        		</td>
						        		<td align="right">{{ data.total.tested|floatword_indian|default:0 }}</td>
						        		<td align="right">{{ data.meta.population|floatword_indian|default:0 }}</td>
						        	</tr>
					        	{% endif %}
					        	{% endfor %}
					        </tbody>
					        <tr>
					        	<th><strong>Total</strong></th>
					        	<td align="right" style="padding-right: 30px !important;">
					        		<strong><span class="text-danger">{{ state_list.Total_Testing.total.confirmed }}</span></strong>
					        	</td>
					        	<td align="right" style="padding-right: 30px !important;">
					        		<strong><span class="text-primary">{{ state_list.Total_Testing.total.confirmed|sub:state_list.Total_Testing.total.recovered }}</span></strong>
					        	</td>
					        	<td align="right" style="padding-right: 30px !important;">
					        		<strong><span class="text-success">{{ state_list.Total_Testing.total.recovered }}</span></strong>
					        	</td>
					        	<td align="right" style="padding-right: 30px !important;">
					        		<strong><span class="text-dark">{{ state_list.Total_Testing.total.deceased }}</span></strong>
					        	</td>
					        	<td align="right" style="padding-right: 30px !important;">
					        		<strong><span class="text-warning">{{ state_list.Total_Testing.total.tested }}</span></strong>
					        	</td>
					        	<td align="right" style="padding-right: 30px !important;">
					        		<strong><span class="text-info">138 Crores</span></strong>
					        	</td>
					        </tr>
					</table>
				</div>
			</div>

			<div class="col-sm-12 col-md-5">
				{% include 'home/index-chart.html' %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#example').DataTable({
		    	"paging":   false,
		    	"info":     false,
		    	"order": [[ 1, "desc" ]],
		    });
		} );
	</script>

	<script type="text/javascript">
		$('.Count').each(function () {
		    $(this).prop('Counter',0).animate({
		        Counter: $(this).text()
		    }, {
		        duration: 3000,
		        easing: 'swing',
		        step: function (now) {
		            $(this).text(Math.ceil(now).toLocaleString('en-IN'));
		        }
		    });
		});
	</script>

	
{% endblock script %}

<script type="text/javascript">

		var delta = document.getElementById("deltaChart").getContext('2d');
		var total = document.getElementById("totalChart").getContext('2d');

		var deltabarChartData = {
			datasets: [{
				label: "confirmed",
				hoverBackgroundColor: "#ef9a9a",
				borderColor: "red",
				borderWidth: 1,
				data: [
					{{ confirmed }}
				]
			}, 
			{
				label: 'active',
				borderColor: "blue",
				hoverBackgroundColor: "#bbdefb",
				borderWidth: 1,
				data: [
					{{ active }}
				]
			},
			{
				label: 'recovered',
				borderColor: "green",
				hoverBackgroundColor: "#81c784",
				borderWidth: 1,
				data: [
					{{ recovered }}
				]
			},
			{
				label: 'deceased',
				borderColor: "grey",
				hoverBackgroundColor: "#e0e0e0",
				borderWidth: 1,
				data: [
					{{ deceased }}
				]
			}, 
			{
				label: 'others',
				borderColor: "yellow",
				hoverBackgroundColor: "#fff176",
				borderWidth: 1,
				data: [
					{{ other }}
				]
			},
			]}


		var myBarChart = new Chart(delta, {
		    type: 'bar',
		    data: deltabarChartData,
		    options: {
						responsive: true,
						legend: {
							position: 'top',
						},
						title: {
							display: true,
							text: 'Delta COVID Cases'
						}
					}
		});	


		var totalbarChartData = {
			datasets: [{
				label: "confirmed",
				hoverBackgroundColor: "#ef9a9a",
				borderColor: "red",
				borderWidth: 1,
				data: [
					{{ state_list.Total_Testing.total.confirmed|default:0 }}
				]
			}, 
			{
				label: 'active',
				borderColor: "blue",
				hoverBackgroundColor: "#bbdefb",
				borderWidth: 1,
				data: [
					{{ state_list.Total_Testing.total.confirmed|default:0 }}
				]
			},
			{
				label: 'recovered',
				borderColor: "green",
				hoverBackgroundColor: "#81c784",
				borderWidth: 1,
				data: [
					{{ state_list.Total_Testing.total.recovered|default:0 }}
				]
			},
			{
				label: 'deceased',
				borderColor: "grey",
				hoverBackgroundColor: "#e0e0e0",
				borderWidth: 1,
				data: [
					{{ state_list.Total_Testing.total.deceased|default:0 }}
				]
			}, 
			// {
			// 	label: 'others',
			// 	borderColor: "yellow",
			// 	hoverBackgroundColor: "#fff176",
			// 	borderWidth: 1,
			// 	data: [
			// 		{{ state_list.Total_Testing.total.others|default:0 }}
			// 	]
			// },
			]}


		var myBarChart = new Chart(total, {
		    type: 'bar',
		    data: totalbarChartData,
		    options: {
						responsive: true,
						legend: {
							position: 'top',
						},
						title: {
							display: true,
							text: 'Total COVID Cases - Graph Representation'
						},
						scales: {
					    xAxes: [{
					      scaleLabel: {
					        display: true,
					        labelString: 'status',
					        fontColor: "#4255f5",
					        fontFamily: "",
					        fontSize: 30,
					        fontStyle: "bold",
					        padding: 0,
					        lineHeight: 0.5,
					      }
					  	}],
						yAxes: [{
						scaleLabel: {
						display: true,
						labelString: 'cases',
						fontColor: "#4287f5",
						fontFamily: "",
						fontSize: 30,
						fontStyle: "bold",
						padding: 0,
						lineHeight: 0.5,
						}
						}]
					  },
					},
		});	

	</script>