{% extends "base.html" %}
{% load static %}
{% load mathfilters %}
{% load indian_numbers_tags %}
{% load keyvalue %}

{% block content %}
<style type="text/css">

</style>
<div class="row justify-content-center">
	<div class="col-10 col-sm-10 col-md-8">
		{% include "home/cards.html" %}
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-7">
				<div class="table-responsive">
					<table id="example" class="table table-sm table-hover table-striped" style="width:100%">
					        <thead>
					            <tr>
					                <th class="th-header-state">State Name</th>
					                <th class="th-header">Confirmed</th>
					                <th class="th-header">Active</th>
					                <th class="th-header">Recovered</th>
					                <th class="th-header">Deceased</th>
					                <th class="th-header tested-col">Tested</th>
					                <th class="th-header">Population</th>
					            </tr>
					        </thead>
					        <tbody>
					        	{% for state, data in state_list.items %}
					        	{% if not "Total_Testing" == state %}
						        	<tr>
						        		<th scope="row">
						        			<a href="/{{ data.code }}/">{{ state }}</a>
						        		</th>
						        		
						        		<td data-order="{{ data.total.confirmed|default:0 }}">
						        			<strong><i class="fas fa-arrow-up text-danger"></i><span class="Count text-danger">{{ data.delta.confirmed }}</span></strong>
						        			<br />
						        			<span class="Count">{{ data.total.confirmed|default:0 }}</span>
						        		</td>
						        		<td data-order="{{ data.total.confirmed|sub:data.total.recovered }}">
						        			<!-- <span class="Count">{{ data.total.confirmed|sub:data.total.recovered|sub:data.total.deceased }}</span> -->
						        			<span class="Count">{{ data.total|get_active }}</span>
						        		</td>
						        		<td data-order="{{ data.total.recovered|default:0 }}">
						        			<strong><i class="fas fa-arrow-up text-success"></i><span class="Count text-success">{{ data.delta.recovered|default:0 }}</span></strong>
						        			<br />
						        			<span class="Count">{{ data.total.recovered|default:0 }}</span>
						        		</td>
						        		<td data-order="{{ data.total.deceased|default:0 }}">
						        			<strong><i class="fas fa-arrow-up text-black-50"></i><span class="Count text-black-50">{{ data.delta.deceased|default:0 }}</span></strong>
						        			<br />
						        			<span class="Count">{{ data.total.deceased|default:0 }}</span>
						        		</td>
						        		<td data-order="{{ data.total.tested|default:0 }}" class="tested-col">{{ data.total.tested|floatword_indian|get_shortcut|default:0 }}</td>
						        		<td data-order="{{ data.meta.population|default:0 }}">{{ data.meta.population|floatword_indian|get_shortcut|default:0 }}</td>
						        	</tr>
					        	{% endif %}
					        	{% endfor %}
					        </tbody>
					        <tr>
					        	<th><strong>Total</strong></th>
					        	<td>
					        		<strong><span class="Count text-danger">{{ state_list.Total_Testing.total.confirmed }}</span></strong>
					        	</td>
					        	<td>
					        		<strong><span class="Count text-primary">{{ state_list.Total_Testing.total.confirmed|sub:state_list.Total_Testing.total.recovered }}</span></strong>
					        	</td>
					        	<td>
					        		<strong><span class="Count text-success">{{ state_list.Total_Testing.total.recovered }}</span></strong>
					        	</td>
					        	<td>
					        		<strong><span class="Count text-dark">{{ state_list.Total_Testing.total.deceased }}</span></strong>
					        	</td>
					        	<td class="tested-col">
					        		<strong><span class="text-warning">{{ state_list.Total_Testing.total.tested|floatword_indian|get_shortcut|default:0 }}</span></strong>
					        	</td>
					        	<td>
					        		<strong><span class="text-info">{{ "138 Crores"|get_shortcut }}</span></strong>
					        	</td>
					        </tr>
					</table>
				</div>
			</div>

			<div class="col-sm-12 col-md-5">
				{% include 'home/index-chart.html' %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#example').DataTable({
		    	"paging":   false,
		    	"info":     false,
		    	"order": [[ 1, "desc" ]],
		    	"scrollX": false,
		    });
		} );
	</script>

	<script type="text/javascript">
		$('.Count').each(function () {
		    $(this).prop('Counter',0).animate({
		        Counter: $(this).text()
		    }, {
		        duration: 3000,
		        easing: 'swing',
		        step: function (now) {
		            $(this).text(Math.ceil(now).toLocaleString('en-IN'));
		        }
		    });
		});
	</script>

	
{% endblock script %}