{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-1 col-sm-1 col-md-1 ml-5 mr-5">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Vertical Bars -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-6100627706671237"
		     data-ad-slot="1379822249"
		     data-ad-format="auto"
		     data-full-width-responsive="true"></ins>
		<script>
		     (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		<br />
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Vertical Bars -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-6100627706671237"
		     data-ad-slot="1379822249"
		     data-ad-format="auto"
		     data-full-width-responsive="true"></ins>
		<script>
		     (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<div class="col-10 col-sm-10 col-md-8 mt-5">
		<h3>List of Govt. Approved Labs For COVID-19 Testing</h3>
		<hr />
		<p style="text-align: justify; font-size: 19px;">
			The central government expanded the network of government laboratories designated to test samples of suspected coronavirus disease (Covid-19) cases to <strong>1132</strong> laboratories. Among 1132 government laboratories, 502 are approved to test for Real-Time PCR (RT PCR) tests, 595 for TrueNat screening tests, and 35 for CBNAAT testing. Also, additional 905 private laboratories were approved to conduct COVID-19 tests. Among <strong>905 private laboratories</strong>, 577 are approved to test RT PCR tests, 233 to test for TrueNat tests and 95 to test for CBNAAT testing.
		</p>

		<!-- <div class="embed-responsive embed-responsive-4by3"> -->
  			<iframe src="https://www.google.co.in/maps/d/u/2/embed?mid=1tiS6MqaCuMXFyYNTWJGFw7Y_QSjIFAGg" class="" style="height: 480px; width: 100%; "></iframe>
		<!-- </div> -->

		<p class="mt-3" style="text-align: justify; font-size: 19px;">
			Source: 
			<a target="_blank" href="https://www.icmr.gov.in/pdf/covid/labs/COVID_Testing_Labs_01112020.pdf">Government Testing Centers</a>;

			<a target="_blank" href="https://www.icmr.gov.in/pdf/covid/labs/COVID_Testing_Labs_01112020.pdf">Private Testing Centers</a>;

			<a target="_blank" href="https://www.icmr.gov.in/pdf/covid/labs/COVID_Testing_Labs_01112020.pdf">Government Labs Suitable For Testing</a>
		</p>
	</div>
	<div class="col-1 col-sm-1 col-md-1 ml-5 mr-5">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Vertical Bars -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-6100627706671237"
		     data-ad-slot="1379822249"
		     data-ad-format="auto"
		     data-full-width-responsive="true"></ins>
		<script>
		     (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		<br />
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Vertical Bars -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-6100627706671237"
		     data-ad-slot="1379822249"
		     data-ad-format="auto"
		     data-full-width-responsive="true"></ins>
		<script>
		     (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>
{% endblock content %}