{% extends "base.html" %}
{% load mathfilters %}

{% block content %}
<style type="text/css">
td
{
	pointer-events: none;
	text-align: left !important;
}
</style>
<div class="row justify-content-center">
	<div class="col-1 col-sm-1 col-md-1 ml-5 mr-5">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Vertical Bars -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-6100627706671237"
		     data-ad-slot="1379822249"
		     data-ad-format="auto"
		     data-full-width-responsive="true"></ins>
		<script>
		     (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		<br />
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Vertical Bars -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-6100627706671237"
		     data-ad-slot="1379822249"
		     data-ad-format="auto"
		     data-full-width-responsive="true"></ins>
		<script>
		     (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<div class="col-10 col-sm-10 col-md-10">
		<div class="d-flex md-form">
			<div class="">
      			<input class=" form-control" type="text" id="mySearchText">
      			<label class="" for="mySearchText">Search</label>
      		</div>
      	</div>
		<div class="table-responsive">
		<table id="example" class="table table-striped table-bordered table-hover" style="width:100%">
		        <thead>
		            <tr>
		            	<th>State</th>
		            	<th>District</th>
		            	<th>City</th>
		                <th>Hospital Name</th>
		                <th>Insurance Facility</th>
		                <th>Ventilator Facility</th>
		                <th>Number of Beds</th>
		                <th>Contact Number</th>
		                <th>Email</th>
		                <th>Website</th>
		                <th>Hospital Address</th>
		            </tr>
		        </thead>
		        <tbody>
	        	{% for hospital in object_list %}
	        	{% if hospital.verified %}
	        		<tr>
	        			<td style="vertical-align: middle;">{{ hospital.state }}</td>
	        			<td style="vertical-align: middle;">{{ hospital.district }}</td>
	        			<td style="vertical-align: middle;">{{ hospital.city }}</td>
	        			<td style="vertical-align: middle;">{{ hospital.hospital_name }}</td>
	        			<td style="vertical-align: middle;">{{ hospital.insurance_facility }}</td>
	        			<td style="vertical-align: middle;">{{ hospital.ventilator_facility }}</td>
	        			<td style="vertical-align: middle;">{{ hospital.number_of_beds }}</td>
	        			<td style="vertical-align: middle;">{{ hospital.hospital_contact_number }}</td>
	        			<td style="vertical-align: middle;">{{ hospital.hospital_email }}</td>
	        			<td style="vertical-align: middle;">
	        				<a href="{{ hospital.hospital_website }}" target="_blank">
	        					{{ hospital.hospital_website }}
	        				</a>
	        			</td>
	        			<td style="vertical-align: middle;">{{ hospital.address.strip|linebreaks }}</td>
	        			<!-- <td>{{ hospital. }}</td> -->
	        		</tr>
	        	{% endif %}
	        	{% endfor %}
		        </tbody>
		</table>
		</div>
	</div>
	<div class="col-1 col-sm-1 col-md-1 ml-5 mr-5">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Vertical Bars -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-6100627706671237"
		     data-ad-slot="1379822249"
		     data-ad-format="auto"
		     data-full-width-responsive="true"></ins>
		<script>
		     (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		<br />
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Vertical Bars -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-6100627706671237"
		     data-ad-slot="1379822249"
		     data-ad-format="auto"
		     data-full-width-responsive="true"></ins>
		<script>
		     (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>
{% endblock content %}

{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
		    table = $('#example').DataTable({
		    	"paging":   false,
		    	"info":     false,
		    	"dom": 'lrtip',
		    });
		    $('#mySearchText').keyup(function(){
			      table.search($(this).val()).draw() ;
			});
		} );
	</script>
{% endblock script %}
