{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-sm-10 col-md-10">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">About</h1>
				<p class="lead">Site is Under Construction, We'll Update soon about our APIs and Other Data related Things</p>
				<p class="lead">Contact Us via Email at info@thepenguina.com - 
					<a href="https://thepenguina.com/" target="_blank">thepenguina.com</p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}