{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-sm-10 col-md-10">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">About</h1>
				<p class="lead">API Source - 
				<a target="_blank" href="https://www.covid19india.org/">Covid-19 India</a>
				-
				<a target="_blank" href="https://api.covid19india.org/">API Github</a>
				</p>
				<p class="lead">Contact Us via Email at info@thepenguina.com - 
					<a href="https://thepenguina.com/" target="_blank">thepenguina.com</p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}