{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png" sizes="16x16"> 

        {% include "css.html" %}
        {% block head %}{% endblock head %}
        
        <title>Covid-19 India</title>
    </head>
    <body style="padding-top: 4.5rem;" class="d-flex flex-column h-100">
        
        {% include "navbar.html" %}

        <!-- <div class="container"> -->
        <main role="main" class="flex-shrink-0">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} mt-5 mb-5">
                        <b>{{ message }}</b>
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock content %}
        </main>
        <!-- </div> -->

        {% include 'footer.html' %}

        {% include "script.html" %}

        {% block script %}{% endblock script %}
        
    </body>
</html>