{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Covid-19 India Update for Latest News about Covid Situation in India, also Vaccine Update and other detail as per Goverenment Approved Hospital List for Testing for COVID-19 near You">
        <meta name=”robots” content="index, follow">

        <!-- Open Graph Meta Tags -->
        <meta property="og:title" content="Covid-19 India | Latest News, Vaccine News and More" />
        <meta property="og:url" content="https://www.covid19indiaupdate.com/" />
        <meta property="og:description" content="Covid-19 India Update for Latest News about Covid Situation in India">
        <meta property="og:image" itemprop="image" content="{% static 'images/favicon.png' %}">
        <meta property="og:type" content="article" />

        <!-- Favicon Icon -->
        <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png" sizes="16x16"> 

         <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 

        <!-- Google AdSense -->
        <script data-ad-client="ca-pub-6100627706671237" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        {% include "css.html" %}
        {% block head %}{% endblock head %}
        
        <title>Covid-19 India | Latest News, Vaccine News, Hospital List and more for India</title>
    </head>
    <body style="padding-top: 4.5rem;" class="d-flex flex-column h-100">
        
        {% include "navbar.html" %}

        <!-- <div class="container"> -->
        <main role="main" class="flex-shrink-0">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} mt-5 mb-5">
                        <b>{{ message }}</b>
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock content %}
        </main>
        <!-- </div> -->

        {% include 'footer.html' %}

        {% include "script.html" %}

        {% block script %}{% endblock script %}
        
    </body>
</html>