<style type="text/css">
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}


.counter
{
	display: inline-block;
	padding: 2px 5px 2px 5px;
	border-radius: 3px;
	margin-right: 0px;
	background: #b2d8d8;
	color: #008080;
	font-size: 22px;
}
</style>



<!-- Footer -->
<div class="mt-auto">
	<footer class="footer page-footer mt-5 font-small teal">

	<!-- Copyright -->
		<div class="footer-copyright text-center py-3">

			<span class="h5-responsive mr-3"> Total Visitor : </span>
				{% for i in total_hit|make_list %}
					<span class="counter">{{ i }}</span>
				{% endfor %}

			<br />
			<a class="h5-responsive mr-3" href="{% url 'sitemap_view' %}">Sitemap</a>
			<a class="h5-responsive mr-3" href="">About</a>
			<a class="h5-responsive mr-3" href="">Contact Us</a>
			<a class="h5-responsive mr-3" href="{% url 'privacy_policy_view' %}">Privacy Policy</a>
			<br />
			© 2020-2022 Copyright:
			<a href="https://covid19indiaupdate.com/"> Covid-19 India Update</a>
		</div>
	<!-- Copyright -->

	</footer>
</div>
<!-- Footer -->