<style type="text/css">
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}


.counter
{
	display: inline-block;
	padding: 2px 5px 2px 5px;
	border-radius: 3px;
	margin-right: 0px;
	background: #b2d8d8;
	color: #008080;
	font-size: 22px;
}
</style>



<!-- Footer -->
<div class="mt-auto">
	<footer class="footer page-footer mt-5 font-small teal">

	<!-- Copyright -->
		<div class="footer-copyright text-center py-3">

			<span class="h5-responsive mr-3"> Total Visitor : </span>
				{% for i in total_hit|make_list %}
					<span class="counter">{{ i }}</span>
				{% endfor %}

			<br />
			<a class="h5-responsive mr-3" href="{% url 'sitemap_view' %}">Sitemap</a>
			<a class="h5-responsive mr-3" href="{% url 'about' %}">About</a>
			<a class="h5-responsive mr-3" href="{% url 'contact_us_view' %}">Contact Us</a>
			<a class="h5-responsive mr-3" href="{% url 'privacy_policy_view' %}">Privacy Policy</a>
			<br />
			<br />

			<!-- AddToAny BEGIN -->
			<div>
			<a href="https://www.addtoany.com/share#url=https%3A%2F%2FCovid19IndiaUpdate.Com&amp;title=Covid%2019%20India%20Update%20-%20Get%20Updated%20Covid%20Information%20for%20India" target="_blank"><img src="https://static.addtoany.com/buttons/a2a.svg" width="32" height="32" style="background-color:grey;"><border-radius:5px;/a>
			<a href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2FCovid19IndiaUpdate.Com&amp;linkname=Covid%2019%20India%20Update%20-%20Get%20Updated%20Covid%20Information%20for%20India" target="_blank"><img src="https://static.addtoany.com/buttons/facebook.svg" width="32" height="32" style="background-color:#4e69a2;border-radius:5px;"></a>
			<a href="https://www.addtoany.com/add_to/facebook_messenger?linkurl=https%3A%2F%2FCovid19IndiaUpdate.Com&amp;linkname=Covid%2019%20India%20Update%20-%20Get%20Updated%20Covid%20Information%20for%20India" target="_blank"><img src="https://static.addtoany.com/buttons/facebook_messenger.svg" width="32" height="32" style="background-color:#4e69a2;border-radius:5px;"></a>
			<a href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2FCovid19IndiaUpdate.Com&amp;linkname=Covid%2019%20India%20Update%20-%20Get%20Updated%20Covid%20Information%20for%20India" target="_blank"><img src="https://static.addtoany.com/buttons/twitter.svg" width="32" height="32" style="background-color:rgb(29, border-radius:5px;161, 242);"></a>
			<a href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2FCovid19IndiaUpdate.Com&amp;linkname=Covid%2019%20India%20Update%20-%20Get%20Updated%20Covid%20Information%20for%20India" target="_blank"><img src="https://static.addtoany.com/buttons/whatsapp.svg" width="32" height="32" style="background-color:#4FCE5D;border-radius:5px;"></a>
			<a href="https://www.addtoany.com/add_to/email?linkurl=https%3A%2F%2FCovid19IndiaUpdate.Com&amp;linkname=Covid%2019%20India%20Update%20-%20Get%20Updated%20Covid%20Information%20for%20India" target="_blank"><img src="https://static.addtoany.com/buttons/email.svg" width="32" height="32" style="background-color:#ff7474;border-radius:5px;"></a>
			</div>
			<!-- AddToAny END -->
			<br />
			© 2020-2022 Copyright:
			<a href="https://covid19indiaupdate.com/"> Covid-19 India Update</a>
		</div>
	<!-- Copyright -->

	</footer>
</div>
<!-- Footer -->